version: "3.8"

services:
  frontend-proxy:
    image: nginx:latest
    container_name: frontend-proxy
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - frontend_net

networks:
  frontend_net:
    external: true